###############################################################################
#	instance1.cfg
#
#	Configuration file for the Stock Cutting Problem, problem set 1.
#
#	Stuart Miller
#	Missouri S&T CS 5401
#	Fall 2017
###############################################################################

logFile=logs/penalty_repair_setx.txt
solutionFile=solutions/penalty_repair_setx.txt

# (0 = plus, 1 = comma)
survivalStrategy=1

mu=75
lambda=75

crossovers=3
mutationRate=0.1200

crossoversSA=0
mutationRateSA=0

parentSelTournSize=50
survivorSelTournSize=50

penaltyWeight=1.0

# (0 = random, 1 = repair, 2 = penalty)
constraintSat=1

###############################################################################
#
#	Parameters below here kept constant for Assignment 1c
#
###############################################################################

# Parent selection type
# 0 - fitness proportional
# 1 - k-tournament
# 2 - random
parentSel=1

# Survivor selection type
# 0 - truncation
# 1 - k-tournament
# 2 - random
# 3 - fitness proportional
survivorSel=1

# Recombination type
# 0 - n-point crossover
# 1 - uniform crossover
recombinationType=0

# Probability of choosing parent1 vs. parent2 for uniform crossover
# (this should ba a decimal between 0 and 1)
uniformProb=0.50

# Mutation type
# 0 - random reset
# 1 - creep
mutationType=0

# Creep distance for creep mutation
creepDist=2

# Termination convergence type
# 0 - Number of evals
# 1 - No change in average fitness
# 2 - No change in best fitness
termType=2

# Termination test, generations unchanged (n)
# (Only used it termType is set to 1 or 2
termGensUnchanged=200

# Random number generator seeding
# 0 - static seed
# 1 - time-based
seedFromTime=1

# Seed for the random number generator
# (Only used it seedFromTime is set to 0
seed=897459283


# The number of runs a single experiment consists of
runs=30

# The number of fitness evaluations each run is allotted
fitnessEvals=10000
